{% extends 'inventory/base.html' %}

{% block content %}
	<div>
		<a href="{% url 'dashboard' %}" class="btn btn-outline-primary my-3 mx-4">Go back</a>
		<div class="row">
			<form method="POST" class="col-sm-11 col-md-4 mx-auto mt-5">

				{% csrf_token %}
				<h1 class="fw-light">Are you sure you want to delete {{ item.name }}?</h1>
                <br>
                <div class="alert alert-dismissible alert-warning">
                    <h4 class="alert-heading">Warning!</h4>
                    <p class="mb-0">This can not be undone!!</p>
                </div>
                <br>
                <div class="d-grid gap-2">
                    <button class="btn btn-lg btn-danger" type="button"> Delete</button>
                </div>
			</form>
		</div>
	</div>
{% endblock content %}