{% extends 'inventory/base.html' %}

{% block content %}

<div>
	<div class="row">
		<div class="col-sm-14 col-md-6 mx-auto mt-5 px-3">
			<h1 class="fw-light">Track and Manage Your Inventory</h1>
			<br>
			<table class="table table-hover">
				<thead class="table-primary">
				  <tr>
					<th scope="col">ID</th>
					<th scope="col">Product</th>
					<th scope="col">Quantity</th>
					<th scope="col">Category</th>
				  </tr>
				</thead>
				<tbody>
				{% if items|length == 0 %}
				<tr class="table-dark">
					<th scope="row">-</th>
					<td>-</td>
					<td>-</td>
					<td>-</td>
				</tr>
				{% else %}
				<tr class="table-dark">
					{% for item in items %}
					<th scope="row">{{ item.id }}</th>
					<td>{{ item.product }}</td>
					<td>{{ item.quantity }}</td>
					<td>{{ item.category.name }}</td>
				</tr>
					{% endfor %}
				{% endif %}
				

				</tbody>
			  </table>

		</div>
	</div>
</div>


{% endblock content %}